<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="af064b02-affc-454b-bf9b-91432e10941b" Name="VisualUnitTest++" Language="1033" Version="1.0.0.0" Manufacturer="larosel" UpgradeCode="b00a267e-94ef-4777-9fc4-ff16ff31d0ec">
    <Package InstallerVersion="200" Compressed="yes" />

    <Media Id="1" Cabinet="WixProject.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="VisualUnitTest++">

          <Component Id="ProductComponent" Guid="70df4c9c-8a05-49e5-b467-9988fd50418f">
            <!-- Main Files -->
            <File Id="MainDll" Name="VisualUnitTest++.dll" Source="..\bin\Release\VisualUnitTest++.dll" Vital="yes" DiskId="1"/>
            <File Id="VCBind2005.dll" Name="VCBind2005.dll" Source="..\bin\Release\VCBind2005.dll" Vital="yes" DiskId="1"/>
            <File Id="VCBind2008.dll" Name="VCBind2008.dll" Source="..\bin\Release\VCBind2008.dll" Vital="yes" DiskId="1"/>
            <File Id="Rules" Name="Rules.xml" Source="..\VUTPP\Rules.xml" Vital="yes" DiskId="1"/>

            <!-- Dependency Files -->
            <File Id="Microsoft.VisualStudio.OLE.Interop.dll" Name="Microsoft.VisualStudio.OLE.Interop.dll" Source="dll\Microsoft.VisualStudio.OLE.Interop.dll" Vital="yes" DiskId="1"/>
            <File Id="Microsoft.VisualStudio.ProjectAggregator.dll" Name="Microsoft.VisualStudio.ProjectAggregator.dll" Source="dll\Microsoft.VisualStudio.ProjectAggregator.dll" Vital="yes" DiskId="1"/>
            <File Id="Microsoft.VisualStudio.Shell.dll" Name="Microsoft.VisualStudio.Shell.dll" Source="dll\Microsoft.VisualStudio.Shell.dll" Vital="yes" DiskId="1"/>
            <File Id="Microsoft.VisualStudio.Shell.Interop.8.0.dll" Name="Microsoft.VisualStudio.Shell.Interop.8.0.dll" Source="dll\Microsoft.VisualStudio.Shell.Interop.8.0.dll" Vital="yes" DiskId="1"/>
            <File Id="Microsoft.VisualStudio.Shell.Interop.dll" Name="Microsoft.VisualStudio.Shell.Interop.dll" Source="dll\Microsoft.VisualStudio.Shell.Interop.dll" Vital="yes" DiskId="1"/>
            <File Id="Microsoft.VisualStudio.TextManager.Interop.8.0.dll" Name="Microsoft.VisualStudio.TextManager.Interop.8.0.dll" Source="dll\Microsoft.VisualStudio.TextManager.Interop.8.0.dll" Vital="yes" DiskId="1"/>
            <File Id="Microsoft.VisualStudio.TextManager.Interop.dll" Name="Microsoft.VisualStudio.TextManager.Interop.dll" Source="dll\Microsoft.VisualStudio.TextManager.Interop.dll" Vital="yes" DiskId="1"/>

            <!-- Bind Files -->
            <File Id="BoostBind" Name="BoostBind.cpp" Source="..\..\VUTPPSamples\SampleBoostTest\VUTPPBind.cpp" Vital="yes" DiskId="1"/>
            <File Id="CppUnitLiteBind" Name="CppUnitLiteBind.cpp" Source="..\..\VUTPPSamples\SampleCppUnitLite\VUTPPBind.cpp" Vital="yes" DiskId="1"/>
            <File Id="CppUnitLite2Bind" Name="CppUnitLite2Bind.cpp" Source="..\..\VUTPPSamples\SampleCppUnitLite2\VUTPPBind.cpp" Vital="yes" DiskId="1"/>
            <File Id="UnitTestppBind" Name="UnitTest++Bind.cpp" Source="..\..\VUTPPSamples\SampleUnitTest++\VUTPPBind.cpp" Vital="yes" DiskId="1"/>
            <File Id="WinUnitBind" Name="WinUnitBind.cpp" Source="..\..\VUTPPSamples\SampleWinUnit\VUTPPBind.cpp" Vital="yes" DiskId="1"/>
            <?include Registry2005.wxi ?>
            <?include Registry2008.wxi ?>
          </Component>

        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Level="1">
      <ComponentRef Id="ProductComponent" />
    </Feature>

    <Property Id="DEVENV_EXE_2005">
      <RegistrySearch Id="RegSearch_DevenvExe_2005" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\8.0\Setup\VS" Name="EnvironmentPath" Type="raw" />
    </Property>
    <CustomAction Id="CA_DevenvSetup2005" Property="DEVENV_EXE_2005" ExeCommand="/setup" Impersonate="no" Execute="deferred"/>

    <Property Id="DEVENV_EXE_2008">
      <RegistrySearch Id="RegSearch_DevenvExe_2008" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\Setup\VS" Name="EnvironmentPath" Type="raw" />
    </Property>
    <CustomAction Id="CA_DevenvSetup2008" Property="DEVENV_EXE_2008" ExeCommand="/setup /nosetupvstemplates" Impersonate="no" Execute="deferred"/>

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallValidate" />
      <Custom Action="CA_DevenvSetup2005" Before="InstallFinalize" />
      <Custom Action="CA_DevenvSetup2008" Before="InstallFinalize" />
    </InstallExecuteSequence>

  </Product>
</Wix>
